
<div class="list-court">
    <ul>
        <li>
            <div class="m-list">
                <div class="icon-title d-flex align-items-start">
                    <img src="images/court.jpg" alt="icon">
                    <h4>
                        Contrary to popular belief Lorem Ipsum random text a has roots from it over 2000 years old.
                    </h4>                                            
                    <a href="#" class="b-sm-button-blue"><span>Save</span></a>
                </div>
                <div class="user-name">
                    <span><i class="fa fa-user" aria-hidden="true"></i>by<span>John Doe</span></span>
                    <ul class="list">
                        <li>PSD Theme</li>
                        <li>material</li>
                    </ul>
                </div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting induLorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimebook It has 
                </p>
                <div class="link-btn d-flex justify-content-between align-items-end">
                    <a href="#" class="read_more">Read More</a>
                </div>
            </div>
        </li>
        <li>
            <div class="m-list">
                <div class="icon-title d-flex align-items-start">
                    <img src="images/court.jpg" alt="icon">
                    <h4>
                        Contrary to popular belief Lorem Ipsum random text a has roots from it over 2000 years old.
                    </h4>                                            
                    <a href="#" class="b-sm-button-blue"><span>Save</span></a>
                </div>
                <div class="user-name">
                    <span><i class="fa fa-user" aria-hidden="true"></i>by<span>John Doe</span></span>
                    <ul class="list">
                        <li>PSD Theme</li>
                        <li>material</li>
                    </ul>
                </div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting induLorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimebook It has 
                </p>
                <div class="link-btn d-flex justify-content-between align-items-end">
                    <a href="#" class="read_more">Read More</a>
                </div>
            </div>
        </li>
    </ul>
</div>
