<!-- <ng-template #modalBox let-modal> -->
<div class="modal-header">
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="close()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="main-details">
    <h2 (click)="openForgotPassword()">
      Forgot password
    </h2>
    <p>
      Sign in using your email address
    </p>
    <div class="login-details">
      <form #f="ngForm">
        <input
          type="email"
          class="d-input"
          placeholder="Enter your email address"
          name="email"
          #email="ngModel"
          [elementFocusDir]="true"
          [(ngModel)]="forgotEmail"
          [ngClass]="{
            'is-invalid': email.invalid && (email.dirty || email.touched)
          }"
          required
        />
        <div *ngIf="email.invalid" class="invalid-feedback">
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
          Email is required
          </div>
        </div>
        <a (click)="onForgotPassword(f)" class="submit-btn f-pass" style="cursor: pointer;">
          send Password
          <i class="fa fa-spin fa-spinner" *ngIf="loader"></i>
        </a>
      </form>
    </div>
    <span class="s-up"
      >Did you remembered your password?
      <a  href="#" data-toggle="modal" class="sign-up-link" (click)="openSignInModal()">
        Sign In
      </a>
    </span>
  </div>
</div>
<!-- </ng-template> -->
<!-- <login-modal #loginModal (onClose)="closeSignInModal()"></login-modal> -->
<!-- <login-modal #loginModal ></login-modal> -->
