
<div class="container">
    <div class="row">
        <div class="col-md-12 text-left py-5">
            <div class="about_us">
                <div class="r-details">
                    <h2 class="mb-3">About Us</h2>
                    <!-- <p *ngIf="aboutData">{{aboutData.content}}</p> -->
                        <p>
                            On Caveat is our attempt to help lawyers stay updated with the most recent civil judgments of Supreme Court and Delhi High Court. Every day we browse through all the relevant judgments pronounced and prepare short concise summaries for you.
                        </p>
                        <br />
                        <p>We started as an email newsletter. We grew quickly, solely on the basis of word of mouth and because our subscribers found our content useful and easily digestible. Our summaries are also considered reliable as they are prepared by practicing lawyers.</p>
                        <br />
                        <p>Over time we thought that it would be beneficial for our readers if they could simultaneously save and store judgments to their own personal folders. Our website allows you to do just that as you can save the important judgments in a swift and organized manner.</p>
                        <br />
                        <p>As a subscriber, you’ll get our newsletter straight to your inbox. You can read all the judgments of the day in one place and at your own time. </p>
                        <br />
                        <p>In our website you can also filter judgments by subjects/topics. For example: Arbitration, Insolvency etc.</p>
                        <br />
                        <p>We hope to provide as much value as we can and we hope that you as a subscriber can guide us in making On Caveat the best possible experience. We are always open for a chat. To get in touch you can write to us or reply to our email newsletter at news@oncaveat.com</p>
                        <br />
                        <p>We hope you’ll join us and we promise to make it as worthwhile for you as possible.</p>
                        <br />
                        <p>To start reading our summaries <a target="_blank" href="{{summary_url}}">Click here.</a></p>
                        <p>To learn more about Casebook <a target="_blank" href="{{casebook_url}}">Click here.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
