
<div class="container">
    <div class="row">
        <div class="col-md-12 text-left py-5">
            <div class="about_us">
              <div class="cmsContent">
                <h1>Privacy Policy</h1>
                <p>This Privacy Policy describes how OnCaveat collects and uses information provided by you. </p>
                <h2>What Information Do We Collect?</h2>
                <p>We will only collect and process Personal Information about you where we have your consent.</p>
                <p>We collect information that you give us when you create an account, contact us, or otherwise access or use our Services, any information you voluntarily submit to us, and information regarding how you use the Services. Specifically stated, the above includes:</p>
                <ul>
                    <li>Your internet protocol address (i.e., IP address) and, if you access the Services from a mobile application, your unique mobile device ID number and non-email authentication.</li>
                    <li>Your name, email address, your social media account information</li>
                    <li>Browser and device information and information collected through technologies such as cookies.</li>
                </ul>
                <h2>How Do We Use The Information We Collect?</h2>
                <p>We use the information we collect to:</p>
                <ul>
                    <li>Deliver and improve the Services and your overall user experience.</li>
                    <li>To protect, investigate, and deter against fraudulent, unauthorized, or illegal activity.</li>
                    <li>To link or combine user information with other Personal Information.</li>
                    <li>To compare and verify information for accuracy and update our records.</li>
                    <li>Email, text, message, or otherwise contact you with information and updates about us and the Services</li>
                    <li>To respond to your comments and questions and provide customer service.</li>
                    <li>Analyze how you use the Services with tools such as Google Analytics and other tools to help us understand traffic patterns and know if there are problems with the Services.</li>
                </ul>
                <h2>We do not share your Personal Information</h2>
                <p>We do not rent, sell, or share your Personal Information with other people except with your consent or as necessary to complete any transaction or provide any service you have requested or authorized.</p>
                <p>We will only provide limited access to your Personal Information in the following conditions:</p>
                <ul class="alphaUl">
                    <li>a)	When it is requested or required by law or by any court or governmental agency.</li>
                    <li>b)	We may share such information with officers, employees, affiliates and service providers for the purpose of processing personal information on our behalf. We will take appropriate assurance from such parties to comply with this Privacy Policy and follow appropriate confidentiality and security measures.</li>
                </ul>
                <p>We take reasonable steps to protect your Personal Information against unauthorized access, alteration, disclosure, misuse, or destruction. The safety and security of your Personal Information also depends on you. If you have an account with us, you are responsible for keeping your membership details confidential. Your account is protected by your account password and we urge you to take steps to keep your Personal Information safe by not disclosing your password and by logging out of your account after each use. </p>
                <h2>Links to Third Party Websites</h2>
                <p>We may provide links to other websites. We have no control over these websites and they are subject to their own terms of use and privacy policies. As such, we do not endorse and are not responsible for the availability of, or for any content, advertising, products, or other materials on or available from, these third party websites.</p>
                <p>By using the Services, you agree that we will not be liable for any damage or loss caused by your use of or reliance on any content, advertising, products, or other materials on or available from these third party websites.</p>
              </div>
            </div>
        </div>
    </div>
</div>
