
<div class="container center-wrap">
  <div class="">
    <div class="col-md-6 offset-md-3">
      <div class="modal-body">
        <div class="main-details">
          <h2>
            Change password
          </h2>
          <div class="login-details">
            <form #f="ngForm">
              <div>
                <input type="password" class="d-input" placeholder="Current password" name="password"
                  #password="ngModel" [(ngModel)]="data.password" [ngClass]="{
            'is-invalid':
              password.invalid && (password.dirty || password.touched)
          }" required />
                <div *ngIf="password.invalid" class="invalid-feedback">
                  <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    CurrentPassword is required
                  </div>
                </div>
              </div>
              <div>
                <input type="password" class="d-input" placeholder="New password" name="new_password"
                  #new_password="ngModel" [(ngModel)]="data.new_password" [ngClass]="{
          'is-invalid':
            new_password.invalid &&
            (new_password.dirty || new_password.touched)
        }" required />
                <div *ngIf="new_password.invalid" class="invalid-feedback">
                  <div *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)">
                    New Password is required
                  </div>
                </div>
              </div>
              <div>
                <input type="password" class="d-input" placeholder="Confirm password" #confirmPassword="ngModel"
                  name="confirmPassword" [(ngModel)]="data.confirmPassword" [ngClass]="{
            'is-invalid':
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched)
          }" required />
                <div *ngIf="confirmPassword.invalid" class="invalid-feedback">
                  <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                    Confirm Password is Required
                  </div>
                </div>
              </div>
              <div *ngIf="
            data.confirmPassword != data.new_password &&
            confirmPassword.dirty &&
            data.confirmPassword != ''
          " class="invalid-feedback">
                Confirm Password and New Password must be Same
              </div>

              <button (click)="onChange(f)" class="submit-btn mx-auto"
                [disabled]="f.invalid || data.confirmPassword != data.new_password">
                Change Password
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
