<section class="no-data">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cmsContent">
          <p><strong>WELCOME TO CASEBOOK</strong><br /><br />
            What is a Casebook?<br /><br />
            A place where all your saved judgments are stored and indexed.<br /><br />
            Your Casebook enables you to store important judgments so that you don’t have to reinvent the wheel of your research ever again. Saving and storing will never be easier. All you have to do is click on the ‘Save’ button at the bottom of every case summary in order to start.<br /><br />
            This is how your Casebook will look once you start saving.
            </p>
            <br />
            <strong>DESKTOP VIEW</strong><br /><br />
            <img style="width: 100%;" src="assets/images/desktop_view_welcome_casebook.png" class="notepad mb-5" alt="notepad" /><br /><br />
            <strong>MOBILE VIEW</strong><br /><br />
            <img  src="assets/images/case_book_mobile.jpg" class="notepad-mobile mb-5" alt="notepad" />
            <p>So go ahead and give it a try.<br /><br />
              To start saving judgments, go to our Case Summaries and start saving the judgments you find useful. You can also add your own judgments which are not there in our database by simply clicking on the Add New button.<br /><br />
              We hope you find the “Casebook” feature helpful.
            </p>
        </div>

      </div>

    </div>

  </div>
</section>
