
<div class="container center-wrap">
  <div class="">
    <div class="col-md-6 offset-md-3">
      <div class="modal-body">
        <div class="main-details">
          <h2>
            Reset password
          </h2>
          <div class="login-details">
            <form #f="ngForm">
              <div>
                <input type="password" class="d-input" placeholder="New password" name="password" #password="ngModel"
                  [(ngModel)]="data.password" [ngClass]="{
                  'is-invalid':
                    password.invalid && (password.dirty || password.touched)
                }" required />
                <div *ngIf="password.invalid" class="invalid-feedback">
                  <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    Password is required
                  </div>
                </div>
              </div>
              <div>
                <input type="password" class="d-input" placeholder="Confirm password" #confirmPassword="ngModel"
                  name="confirmPassword" [(ngModel)]="data.confirmPassword" [ngClass]="{
                  'is-invalid':
                    confirmPassword.invalid &&
                    (confirmPassword.dirty || confirmPassword.touched)
                }" required />
                <div *ngIf="confirmPassword.invalid" class="invalid-feedback">
                  <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    Confirm Password is Required
                  </div>
                </div>
                <div *ngIf="
                  data.confirmPassword != data.password &&
                  confirmPassword.dirty &&
                  data.confirmPassword != ''
                " class="invalid-feedback">
                  Confirm Password and New Password must be Same
                </div>
              </div>

              <button (click)="onReset(f)" class="submit-btn mx-auto"
                [disabled]="f.invalid || data.confirmPassword != data.password">
                Reset Password
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
